@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

html {
  @include mat.all-component-themes($theme);
}

body {
  font-family: Roboto, sans-serif;
  margin: 2rem;
}
